<nav class="navbar bg-body-tertiary fixed-top customNav">
  <div class="container-fluid">
    <a class="navbar-brand customName" href="#">MilkyWay</a>

    <div class="col ms-auto text-right">
      <div class="cartIcon">
        <a class="nav-link customRightAlign" routerLink="cart">
          <i class="fa-solid fa-cart-shopping customCart"></i>
          <div class="cartValue">{{ cartValue }}</div>
        </a>
      </div>
    </div>

    <button
      class="navbar-toggler custom-hamburger"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Main Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Home <i class="fa fa-home"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutUs"
              >About Us <i class="fa fa-info-circle" aria-hidden="true"></i
            ></a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="products"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Products
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/products']"
                  (click)="scrollToSection('milkProducts')"
                  >Milk Products</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/products']"
                  (click)="scrollToSection('curdProducts')"
                  >Curd Products</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/products']"
                  (click)="scrollToSection('breadProducts')"
                  >Bread Products</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="wishlist"
              >Wish List <i class="fa-solid fa-heart" style="color: #fa0000"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
