<footer class="text-center text-lg-start text-white customFooter mt-4">
  <section
    class="d-flex justify-content-between p-4 text-white customFooterSection"
  >
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        class="text-white me-4"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/login?lang=en"
        target="_blank"
        class="text-white me-4"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.com/" target="_blank" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a
        href="https://www.instagram.com/"
        class="text-white me-4"
        target="_blank"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://in.linkedin.com/"
        class="text-white me-4"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/" class="text-white me-4" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="customText">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Milky</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>
            Your source for pure, organic dairy goodness. Happy cows, healthier
            you
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Business Hours</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>Monday To saturday</p>
          <p>6 AM To 9 Pm</p>
          <p>Sunday</p>
          <p>6 Am To 12 Pm</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Location</h6>
          <hr class="mb-4 mt-0 mr-2 d-inline-block mx-auto customUnderline" />

          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.8482130077355!2d76.84946197557996!3d30.722667274589185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f93546482c389%3A0xcfe5117959431333!2sJoenish%20Tech%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1697450502523!5m2!1sen!2sin"
              width="250"
              height="150"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>
            <i class="fas fa-home mr-3"></i> Plot Number 123,IT Park, Chandigarh
          </p>
          <p><i class="fas fa-envelope mr-3"></i> info@milky.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 91 9876543454</p>
          <p><i class="fas fa-print mr-3"></i> 1800 102-102</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3 customCopyright customText">
    © 2023 Copyright:
    <a class="text-white" href="https://www.google.com/" target="_blank"
      >milkyway.com</a
    >
  </div>
</footer>
