.upperMargin {
  margin-top: 80px;
}

.payment-content {
  margin-top: 30px;
  margin-left: 11rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .upperMargin {
      margin-top: 40px;
  }

  .payment-content {
      margin-left: 20px; /* Adjust this value as needed for responsiveness */
  }
}
