<div class="container upperMargin">
  <h1 class="text-center mt-3">Saved for Later</h1>
  <div class="row">
    <ng-container *ngFor="let product of wishlistArr">
      <div class="col-md-4 mb-4">
        <div class="card customFeature">
          <div class="customImg">
            <img
              src="{{ product.img }}"
              class="card-img-top"
              alt="Product Image"
            />
          </div>
          <hr />

          <div class="card-body">
            <h5 class="card-title">{{ product.product }}</h5>
            <div class="price-box">
              <p class="card-text customPrice">Price:</p>
              <span class="price-amount">{{ product.price }}</span>
            </div>
            <div class="button-container">
              <button
                class="btn btn-primary btn-sm"
                type="button"
                id="add-to-cart"
                (click)="addToCart(product)"
              >
                Add to Cart <i class="fas fa-shopping-cart"></i>
              </button>
              <button
                class="btn btn-danger"
                (click)="removeSingle(product.productId)"
              >
                Remove<i class="fa-solid fa-trash-can ml-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
