.customCaption {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}

.customFeature {
  width: 170px;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  position: relative;
  height: 430px; /* Adjusted height value */
}

.customImg {
  height: 215px !important;
}

.customCard {
  width: 170px;
  text-align: center;
  padding: 18px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin: 15px 1pc; /* Removed duplicated margin property */
  height: 220px;
}

.customFeaturedimg {
  width: 100%;
  border-radius: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.price-amount {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.card-img-top {
  display: block;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.customLabel {
  margin-right: 10px;
}

.qntBtn {
  border: none;
  border-radius: 10px;
}
