.navbar-toggler-icon {
    background-color: white !important; /* Set the background color to white */
    border: 1px solid white !important; /* Set the border to white */
    border-radius:5px ;
  }